<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #f3d7b3;" *ngIf="!isLoggedIn()">

    <img src="/assets/images/marmite.png" alt="" width="30" height="24" class="d-inline-block align-text-top">

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
         <a class="nav-link" routerLink="Fiches">Acceuil</a>
      </li>
       <li class="nav-item">
          <a class="nav-link" routerLink="creer-fiche">Créer Fiche</a>
       </li>
       <li class="nav-item">
          <a class="nav-link" href="#">Commande</a>
       </li>
       <li class="nav-item">
          <a class="nav-link" routerLink="stock">Stock</a>
       </li>

       <li class="nav-item">
            <a class="nav-link" routerLink="#">Bases de Calcul</a>
        </li>
        <button mat-button>Logout</button>
    </ul>
</nav>