<app-header></app-header>
<section class="pricing-section mt-5">

    <div class="container">

		<div class="row justify-content-md-center">
			<div class="col-xl-5 col-lg-6 col-md-8">
				<div class="section-title text-center title-ex1">
					<h2> Fiches Techniques </h2>
				</div>
			</div>
        </div>

        <!-- BEGIN ORDER RESULT -->
        <div class="row g-3 mt-2">
            <div class="col-md-3">
                <div class="form-group bg-secondary text-white">
                    <select class="form-control">
                      <option value="" selected disabled >Catégorie</option>
                      <option value="Entree">Entrée</option>
                      <option value="Plat">Plat</option>
                      <option value="Dessert">Dessert</option>
                    </select>
                </div>
            </div>

            <!--Start Search fiche-->
            <!-- <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Chercher fiche">
            </div>
            <div class="col-md">
                <button class="btn btn-secondary btn-block">Search</button>
            </div> -->
            <!--END Search fiche-->

        </div>
        <!-- END ORDER RESULT -->
        <p></p>

		<!-- Fiche technique starts -->
		<div class="row" >
			<div class="col-md-4" *ngFor ="let fiche of fiches">
				<div class="price-card ">
                    <h2>{{ fiche.intitule }}</h2>   <!--Ici le titre de la fiche-->
                    <p></p>
					<ul class="pricing-offers">
						<li>Responsable : {{ fiche.responsable }}</li>
						<li>Nombre de couverts : {{ fiche.nbrCouverts }} </li>
						<li>Categorie : {{ fiche.categorie }} </li>
                    </ul>
                    <div class="col-md-12 bg-light text-right">
                        <a class="btn btn-dark btn-mid" (click)="delete(fiche)">Supprimer</a>
                        <p>  </p>
                        <a class="btn btn-dark btn-mid" (click)="navigateTo(fiche)">Afficher</a>
                    </div>
					
                </div>
                <p></p>
			</div>
		</div>
	</div>
</section>
