<app-header></app-header>
<div class="container">
<div class="card m-3 mt-5">
    <h5 class="card-header text-center">Créez votre fiche technique</h5>
    <div class="card-body">
    <form [formGroup]="ficheForm">
      <fieldset>
        <div class="form-row">
          <div class="form-group col">
            <label for="nom">Intitulé</label>
            <input type="text" class="form-control" formControlName="intitule" placeholder="Nom de la fiche" required [(ngModel)]="fiche.intitule">
          </div>

          <div class="form-group col">
            <label for="email">Responsable</label>
            <input type="text" class="form-control" formControlName="responsable" placeholder="Responsable de la fiche" required [(ngModel)]="fiche.responsable">
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col">
            <label>Nombre de couverts</label>
            <input type="number" class="form-control" formControlName="nbCouverts" min="1" max="100" required [(ngModel)]="fiche.nbrCouverts">
          </div>

          <div class="form-group col">
              <label for="selection">Catégorie</label>
              <select class="form-control" formControlName="categorie" required [(ngModel)]="fiche.categorie"  >
                  <option value="">Choix de catégorie :</option>
                  <!-- <option *ngFor ="let categorie of categories" [ngValue]="categorie"> {{ categorie.payload.doc.data().type }}</option> -->
                  <!-- <option > {{ categorie.payload.doc.data().type }} </option> -->
                  <option value="Dessert">Dessert</option>
                  <option value="Entree">Entrée</option>
                  <option value="Plat">Plat</option>
              </select>
          </div>
        </div>
        <div class="form-row">

          <div class="form-group col">
            <label>Materiel Spécifique</label>
            <textarea class="form-control" rows="3" formControlName="materielSpes" placeholder="Matériel spécifique" [(ngModel)]="fiche.materielSpes"></textarea>
          </div>

          <div class="form-group col">
            <label>Materiel de dressage</label>
            <textarea class="form-control" rows="3" formControlName="materielDress" placeholder="Matériel de dressage" [(ngModel)]="fiche.materielDress"></textarea>
          </div>

        </div>
        <!-- <button type="button" (click)="Submit()" [disabled]="ficheForm.invalid">Bouttoon</button> -->
        <div>
          {{ficheForm.value | json}}
        </div>

        <div class="form-group">
          <div class="col text-center">
            <button type="button" class="btn btn-dark" (click)="toggleShow()" [disabled]="ficheForm.invalid"> <i class="fa fa-plus" aria-hidden="true"></i> Ajouter étape</button>
          </div>
          <app-creer-etape *ngIf = "isShown" (etape)="recevoir($event)"></app-creer-etape>
        </div>
      </fieldset>
    </form>
    <div class="col text-center">
      <button type="button" *ngIf = "isShown" class="btn btn-dark ml-3" (click)="Submit()">Valider la fiche</button>
  </div>

  </div>
</div>
</div>
