
<div class="card m-3 ">
    <h5 class="card-header text-center">Créez Etape</h5>
    <div class="card-body">
    <form [formGroup] = "ingredientForm">
      <fieldset>
        <div class="form-row">
            <div class="form-group col">
            <label for="nom">Denrée</label>
            <input type="text" class="form-control" id="nom" placeholder="Élement de base" formControlName ="denree">
            </div>

            <div class="form-group col">
                <label for="selection">Catégorie</label>
                <select id="selection" class="form-control" formControlName="categorie">
                    <option value="">Choix de catégorie</option>
                    <option value="">Viande</option>
                    <option value="">Crèmerie</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <label for="selection">Ingrédients</label>
                <select id="selection" class="form-control" formControlName="ingredients">
                    <option value="">Choix d'ingrédient</option>
                    <option value="">Lait</option>
                    <option value="">Viande</option>
                </select>
            </div>

            <div class="form-group col">
                <label for="email">Quantité</label>
                <input type="text" class="form-control" id="nom" placeholder="Quantité utilisée" formControlName="quantite">
            </div>
        </div>

        <div class="form-group">
            <label for="email">Ajouter ingrédient</label>
            <button type="button" class="btn btn-dark mb-2" (click)="ajouterIngredient()"><i class="glyphicon glyphicon-remove">Add</i></button>
        </div>
        <app-ingredient-component></app-ingredient-component>

      </fieldset>
    </form>
    </div>
</div>
