<div class="card m-3 ">
    <h5 class="card-header text-center">Etape {{cpt}}</h5>
    <div class="card-body">
    <form [formGroup]="EtapeForm">
      <fieldset>
        <div class="form-row" >
            <div class="form-group col">
                <label >Nom de l'ensemble d'ingrédients </label>
                <input type="text" class="form-control" formControlName="NomDenree" placeholder="Élement de base">
            </div>

        </div>

        <div formArrayName="Ingredients" *ngFor="let ing of this.ingredients['controls']; let i=index">
            <div class="form-row" [formGroupName]="i">
                <div class="form-group col">
                    <label >Ingrédient </label>
                    <select class="form-control" formControlName="NomIngr">
                        <option value="">Choix d'ingrédient </option>
                        <option value="Lait">Lait</option>
                        <option value="Viande">Viande</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label >Quantité </label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" formControlName="qtt" min="1" max="100"placeholder="Quantité"/>
                        <div class="input-group-append">
                        <span class="input-group-text">Unite</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col text-center">
            <button class="btn btn-primary btn-sm" (click)="addIngredient()">Ajouter ingredients</button>
        </div>

        <div class="form-group mb-3">
            <label class="form-label">Description de l'étape </label>
            <textarea class="form-control" rows="3" formControlName="Description"></textarea>
        </div>

        <div class="form-group mb-3">
            <label class="form-label">Temps de preparation</label>
            <div class="input-group mb-3">
                <input type="number" class="form-control" formControlName="Temps" min="1" max="100">
                <div class="input-group-append">
                  <span class="input-group-text">min</span>
                </div>
            </div>
        </div>

        <div class="col text-center">
            <button type="button" class="btn btn-dark" (click)="onSelect(this.EtapeForm)">Ajouter autre étape</button>
        </div>

      </fieldset>
    </form>

    <div>
        {{EtapeForm.value | json}}
    </div>

    </div>
</div>
<div class="col text-center">
    <button type="button" class="btn btn-dark ml-3" href="Fiches">Valider la fiche</button>
</div>
