<app-header></app-header>
<div class="container mt-5">

<div class="card text-center">
    <div class="card-header doNotPrint">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" [routerLink] = 'ficheAvecCouts'>Fiche avec Couts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Fiche sans Couts</a>
        </li>
      </ul>
    </div>
    <div class="card-body" *ngIf="fiche!=null">

      <!--Start Table -->
      <table class="table table-bordered border-dark">
        <thead class="table-dark">
          <tr>
            <td colspan="7">FICHE TECHNIQUE</td>
          </tr>
          <tr>
            <td colspan="3">INTITULE</td>
            <td colspan="1"></td>
            <td colspan="2">RESPONSABLE</td>
            <td>NBRE DE COUVERTS</td>
          </tr>
        </thead>
        <!--DÉBUT INFORMATIONS FICHE-->
        <tbody>
          <tr>
            <td colspan="3"> {{fiche.intitule}} </td> <!--INTITULE-->
              <td></td>
              <td colspan="2"> {{fiche.responsable}} </td> <!--RESPONSABLE-->
              <td> {{fiche.nbrCouverts}} </td> <!--NBRE DE COUVERTS-->
          </tr>
        </tbody>
        <!--FIN INFORMATIONS FICHE-->

        <thead class="table-dark">
          <tr>
            <td>DENREES</td>
            <td>UNITES</td>
            <td>QUANTITES</td>
            <td></td>
            <td>N°PHASE</td>
            <td>TECHNIQUE DE REALISATION</td>
            <td>DURÉE</td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let step of fiche.etape; let i = index">
            <th scope="row">
                Elément de base :
                <ul>
                  <li>Milk</li>
                  <li>Cheese</li>
                </ul>
            </th>
            <td>Kg</td>
            <td>0,5</td>
            <td></td>
            <td>{{i+1}}</td>
            <td> {{step.description}} </td>
            <td> {{step.temps}}</td>
          </tr>
        </tbody>

        <thead class="table-dark">
          <tr>
            <td colspan="3">MATERIELS SPECIFIQUES</td>
            <td></td>
            <td colspan="3">MATERIELS DE DRESSAGE</td>
          </tr>
        </thead>
        <tbody>
          <th colspan="3"> </th>
          <th></th>
          <th colspan="3"> </th>

        </tbody>
      </table>

      <!--END Table -->
    </div>

    <!--Start BUTTONS-->
    <div class="flex-parent jc-center doNotPrint">
      <button type="button" class="btn btn-success mr-3 mt-1" (click)="printComponent()">Imprimer Fiche</button>
      <button type="button" class="btn btn-primary mr-3">Modifier</button>
      <button type="button" class="btn btn-danger">Imprimer Etiquette</button>
    </div>
    <p></p>

  </div>
</div>
