<div class="container mt-5">

    <div class="card ml-0" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Valeur total Stock</h5>
          <h6 class="card-subtitle mb-2 text-muted">1000$</h6>
          
        </div>
    </div>

    <h1></h1>
    <table class="table table-bordered" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Ingrédient</th>
                <th>Catégorie</th>
                <th>Prix unitaire</th>
                <th>Quantité stock</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Tomate</td>
              <td>Fruit</td>
              <td>1$</td>
              <td>100 kg</td>
              <td><button type="button" class="btn btn-primary">Modifier</button></td>
              <td><button type="button" class="btn btn-danger">Supprimer</button></td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Carrote</td>
                <td>Legume</td>
                <td>1,06$</td>
                <td>50 kg</td>
                <td><button type="button" class="btn btn-primary">Modifier</button></td>
                <td><button type="button" class="btn btn-danger">Supprimer</button></td>
            </tr>
            
        </tbody>
        <button type="button" class="btn btn-primary">Ajouter element</button>

    </table>
</div>
