
<div class="container">
    <h1></h1>
    <h1 class="text-center">Calculer vos coûts</h1>
    <form [formGroup] = "coutForm">
        <fieldset>
        <h3>Coût de matière</h3>
            <div class="form-group">
                <label for="nom">Coût d'assaisonnement</label>
                <input type="text" class="form-control" placeholder="Cout d'assaisonnement" >
                <input type="checkbox" aria-label="Checkbox for following text input">
                <span class="input-group-text">5% du coût de matière</span>
            </div>
        <h3>Coût des charges</h3>
            <div class="form-group">
                <label for="nom">Cout horraire moyen du personnel</label>
                <input type="text" class="form-control" placeholder="Cout du personnel" formControlName = "Personnel" >
            </div>

            <div class="form-group">
                <label for="email">Cout horraire de fluide</label>
                <input type="text" class="form-control"  placeholder="Cout horraire de fluide" formControlName = "Fluide">
            </div>

            <div class="form-group">
                <label for="email">Coefficient </label>
                <input type="text" class="form-control"  placeholder="Coefficient" formControlName = "Coeff">
            </div>
            <button (click)="Show()">BOUTTON</button>





        </fieldset>
    </form>
</div>
