<app-header></app-header>
<div class="container mt-5">

<section class="performance-facts center" *ngIf="fiche!=null">
  <header class="performance-facts__header">
    <h1 class="performance-facts__title"> Recette {{fiche.intitule}} </h1>
  </header>
  <table class="performance-facts__table">
    <thead>
      <tr>
        <th colspan="3" class="small-info">
          Nombre de couverts : {{fiche.nbrCouverts}}
        </th>
      </tr>
    </thead>
    <tbody>
      <br>
      <tr>
        <th colspan="2">
          <b>Ingredients</b>
        </th>
        <td>
          <b>Quantite</b>
        </td>
        <td>
          <b>Allergene</b>
        </td>
      </tr>

    </tbody>
</table>
</section>
</div>
<div class="flex-parent jc-center doNotPrint">
  <button type="button" class="btn btn-dark mr-3 mt-1" (click)="printComponent()">Imprimer Etiquette</button>      
</div>
